# Build artifacts
/build/
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj
*.pch
*.suo
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Testing
Testing

# Documentation
doc/diagrams/*.svg
# IDE-specific files
.vs/
.vscode/
.cache/
*.override.*

# vcpkg
/vcpkg_installed/
/vcpkg/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json
CTestTestfile.cmake
Testing/Temporary/*
.gemini/settings.json
.gitignore
debug.log
